.box {
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border: 1px solid red;
    position: relative;
}

@keyframes move-span {
    25% {
        top: 0;
        left: 100%;
        translate: -100%;
        background-color: red;
        /* height: 80px;
        rotate: 360deg; */
    }
    50% {
        top: 100%;
        left: 100%;
        translate: -100% -100%;
        background-color: red;
        /* height: 80px;
        rotate: 360deg; */
    }
    75% {
        top: 100%;
        left: 0;
        translate: 0% -100%;
        background-color: red;
        /* height: 80px;
        rotate: 360deg; */
    }
}

@keyframes move-music-bar {
    50% {
        height: 10px;
    }
}

.box span {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: block;
    background-color: green;
    position: absolute;
    animation-name: move-span;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.music-bar {
    width: 400px;
    height: 400px;
    margin: 30px auto;
    border: 1px solid red;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.music-bar span {
    width: 50px;
    height: 200px;
    display: block;
    background-color: green;
    margin: 20px auto;
    animation-name: move-music-bar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 20px;
}

.music-bar span:nth-child(2) {
    animation-delay: 0.1s;
}

.music-bar span:nth-child(3) {
    animation-delay: 0.2s;
}

.music-bar span:nth-child(4) {
    animation-delay: 0.3s;
}