table {
    width: 60%;
    border: solid 1px red;
    padding: 30px;
}

td {
    padding-left: 30px;
    padding-right: 30px;
}

.input-wrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-family: Lobster;
    color: black;
}

body {
    font-family: Lato;
    color: #cecece;
}

#send_to_us_summary>span {
    color: red;
}

td>p {
    color: #cecece;
}

#user_name_icon {
    font-family: 'Glyphicons Halflings';
}

#email_icon,
#phone_icon {
    font-family: 'Material Icons';
}

input::placeholder {
    color: #cecece;
    padding-left: 10px;
}

input {
    display: inline-block;
    width: 90%;
    height: 100%;
    border-radius: 0px;
    border-width: 2px;
    border: none;
}

.icon {
    background-color: #dddddd;
    color: white;
}

span.icon {
    display: inline-block;
    width: 5%;
    margin-bottom: -2px;
}

.star_icon {
    font-family: FontAwesome;
    display: inline-block;
    width: 5%;
}