/* 
Di chuyển thẻ span vào giữa box, không xử dụng flex, vertical-align, margin
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 300px;
    border: 1px solid green;
    margin: 0 auto;
    position: relative;
}

.box span {
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}