.top_element {
    background-color: #8498cb;
    width: 100px;
    height: 30px;
    padding-top: 10px;
    margin: 0 auto;
    color: white;
    ;
}

#shared_hosting {
    color: #07aae9;
}

.top_wrapper {
    text-align: center;
}

h1 {
    margin: 20px;
}

button {
    background-color: #2c3033;
    width: 170px;
    height: 55px;
    color: white;
    margin: 5px;
    border-radius: 5px;
}