/* 
Cấu trúc chọn phần tử giả: 
selector::tenphantu 
1. before, after
- Thêm phần tử vào trước và sau thẻ html
- Điều kiện: phải có thuộc tính CONTENT (CONTENT là thuộc tính của thẻ before, after, không phải của thẻ html)
- Phần tử giả before, after ở dạng INLINE

2. first-letter --> Chọn ký tự đầu tiên

3. first-line -> Chọn dòng đầu tiên

4. selection --> Tùy chỉnh văn bản được chọn (select)

*/


/* 
.title::before {
    content: "a";
}

.title::after {
    content: "b";
} */


/* 
.content p::first-letter {
    color: red;
}

.content p::first-line {
    color: green;
}

.content p::selection {
    background: black;
    color: yellow;
} */

.name {
    color: red;
}


/* Change the format of the placeholder */

.name::placeholder {
    color: green;
}