#p1 {
    text-align: center;
    color: red;
    background-color: blue;
}

#p2 {
    text-align: center;
    color: red;
    background-color: blue;
}

#h1 {
    text-align: center;
    color: red;
    background-color: blue;
}

#p3 {
    text-align: center;
    color: red;
    background-color: blue;
    font-size: large;
}

#p4 {
    text-align: center;
    color: red;
    background-color: blue;
    font-size: small;
}

#h2 {
    text-align: center;
    color: red;
    background-color: blue;
    font-size: small;
}