* {
    padding: 0;
    margin: 0;
}

.switch-toggle {
    display: block;
    margin: 20px auto;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 99px;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 50px;
    background-color: red;
}

.switch-toggle .btn {
    transition-property: left;
    transition: 0.3s ease;
    position: absolute;
    content: '';
    top: 1px;
    left: 1px;
    bottom: 0;
    right: 100%;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 99px;
    z-index: 1;
}

.switch-toggle input:checked+.btn {
    left: calc(100% - 48px);
}

.switch-toggle .bg {
    position: absolute;
    inset: 0;
    background: transparent;
    transition: background 0.3s ease;
}

.switch-toggle input:checked~.bg {
    background: green;
}