/* 
## Khái niệm
- Thiết kế web đáp ứng
- Dựa vào kích thước trình duyệt, thiết bị để thay đổi giao diện giúp tương thích
với các thiết bị
- Ngoài responsive, có thể dùng adaptive để thiết kế web đáp ứng


## Breakpoint (kích thước màn hình)
- Điểm dừng mà tại đó giao diện sẽ thay đổi
- Ví dụ: 
* 1400
* 1200
* 992
* 768
* 576

Lưu ý:
- Không có breakpoint cố định, chuẩn trong tất cả các dự án
- Breakpoint sẽ dựa vào cấu trúc giao diện của dự án (dự án đơn giản, dự án phức tạp)
- Tip: dựa vào các breakpoint phổ biến trên các CSS Framework rồi phát triển thêm

## Các trường phái Responsive
- Desktop first
- Mobile First --> Nên dùng

## Media Queries
- Dựa vào breakpoint để viết
- Dựa vào cách Responsive: Desktop first hay Mobile first

## Desktop first

@media screen and (max-width: 1399px){
        CSS Selector
}
@media screen and (max-width: 1199px){
        CSS Selector
}
@media screen and (max-width: 991px){
        CSS Selector
}
@media screen and (max-width: 767px){
        CSS Selector
}
@media screen and (max-width: 575px){
        CSS Selector
}

Lưu ý viết đúng thứ tự media queries

## Mobile first
@media screen and (max-width: 575px){
        CSS Selector
}
@media screen and (min-width: 768px){
        CSS Selector
}
@media screen and (min-width: 992px){
        CSS Selector
}
@media screen and (min-width: 1200px){
        CSS Selector
}
@media screen and (min-width: 1400px){
        CSS Selector
}

## Media Viewport
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    color: green;
}

@media screen and (max-width: 1199px) {
    body {
        color: red;
    }
}

@media screen and (max-width: 767px) {
    body {
        color: blueviolet;
    }
}

@media screen and (max-width: 575px) {
    .box p {
        display: none;
    }
}