.box {
    width: 200px;
    height: 200px;
    /*topbottom and leftright*/
    border-width: 5px 10px;
    /*top and leftright and bottom*/
    border-width: 5px 10px 15px;
    /*top right bottom left*/
    border-width: 5px 10px 15px 20px;
    /*topbottom and leftright*/
    border-style: dashed dotted;
    /*top and leftright and bottom*/
    border-style: dotted dotted dashed;
    /*top right bottom left*/
    border-style: double dotted dotted dashed;
    border-style: solid;
    /*topbottom and leftright*/
    border-color: red green;
    /*top and leftright and bottom*/
    border-color: red green yellow;
    /*top right bottom left*/
    border-color: red green yellow blue;
    border: 5px solid red;
    border-left: 10px dotted green;
    border-left-width: 5px;
    border-right-style: dashed;
    border-top-color: dashed;
}

.box1 {
    width: 0px;
    height: 0px;
    border-color: red green blue yellow;
    border-width: 100px;
    border-style: solid;
    border-top-width: 0px;
}