@font-face {
    font-family: Manrope;
    src: url('Manrope/Manrope-VariableFont_wght.ttf');
}

.nav-container {
    border: 1px black solid;
    font-size: 0;
    margin-left: 100px;
    margin-right: 100px;
}

.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: absolute;
    left: 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 50px;
    border-right: 1px black solid;
    width: 120px;
    padding-top: 5px;
    margin: -2px;
}

.dropdown-content {
    font-size: large;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 50px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #54a3d5;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #54a3d5;
}

.dropdown:hover .home {
    background-color: #54a3d5;
}